// =================================================================================================
// ---- Breakpoints ----
// =================================================================================================
@use 'sass:map';

/* Variables */
$size-xs: 480px;
$size-sm: 768px;
$size-md: 1024px;
$size-lg: 1200px;
$size-xl: 1350px;
$size-xxl: 1440px;
$size-xxxl: 1824px;

/* Main mobile cutoff and demarcation between desktop and mobile sizes */
$mobile-breakpoint: $size-sm;

/* Max width for responsive elements before they center horizontally */
$content-max-width: $size-lg;

/* Map */
$breakpoints: (
  'xs': $size-xs,
  'sm': $size-sm,
  'md': $size-md,
  'lg': $size-lg,
  'xl': $size-xl,
  'xxl': $size-xxl,
  'xxxl': $size-xxxl,
  'standard': $mobile-breakpoint
);

/**
 * Breakpoint Mixin
 * This is the preferred way of creating responsive breakpoints. This forces a
 * mobile-first approach. Example usage:
 *
 * @include breakpoint(md) {
 *   margin: 0 auto;
 *   max-width: 940px;
 * }
 */
@mixin breakpoint($point) {
  @if map.has-key($breakpoints, $point) {
    // Prints a media query based on the value
    @media screen and (min-width: map.get($breakpoints, $point)) {
      @content;
    }
  } @else {
    // If the key doesn't exist in the map
    @warn '`#{$point}` is not defined in the `$breakpoints` map.';
  }
}
