// =================================================================================================
// ---- icons ----
// =================================================================================================

.icon {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 25px;
  height: 25px;

  &__social {
    filter: drop-shadow(2px 2px 3px black(0.2));
  }

  &__nuxt {
    width: 12px;
    height: 10px;
    top: 1px;
    right: 1px;
    background-image: url('@/assets/img/icons/nuxt.svg');
  }

  &__github {
    background-image: url('@/assets/img/icons/github.svg');
  }

  &__linkedin {
    background-image: url('@/assets/img/icons/linkedin.svg');
  }

  &__facebook {
    background-image: url('@/assets/img/icons/facebook.svg');
  }

  &__twitter {
    background-image: url('@/assets/img/icons/twitter.svg');
  }

  &__x {
    background-image: url('@/assets/img/icons/x.svg');
  }

  &__threads {
    background-image: url('@/assets/img/icons/threads.svg');
  }

  &__mastodon {
    background-image: url('@/assets/img/icons/mastodon.svg');
  }

  &__bluesky {
    background-image: url('@/assets/img/icons/bluesky.svg');
  }

  &__instagram {
    background-image: url('@/assets/img/icons/instagram.svg');
  }

  &__youtube {
    background-image: url('@/assets/img/icons/youtube.svg');
  }

  &__sessionize {
    background-image: url('@/assets/img/icons/sessionize.svg');
  }

  &__rss {
    background-image: url('@/assets/img/icons/rss.svg');
  }

  &__email {
    background-image: url('@/assets/img/icons/email.svg');
  }
}